<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del libro</title>
</head>
<body>
    <h1>{{ libro.titulo }}</h1>
    {% if libro.portada %}
        <img src="{{ libro.portada.url }}" alt="">
    {% endif %}
    <br>
    <br>
    {% for autor in libro.autores.all %}
        <h2>{{ autor.nombre }}{% if not forloop.last %},{% else %}.{% endif %}</h2>
    {% endfor %}
    {{ libro.resumen }}
    <br><br>
    <a href="{% url 'editar_libro' pk=libro.pk %}"><button>Editar libro</button></a>
    <a href="{% url 'eliminar_libro' pk=libro.pk %}"><button>Eliminar libro</button></a>
    {% if libro.disponibilidad == 'disponible' %}
        <a href="{% url 'prestar_libro' pk=libro.pk %}"><button>Prestar libro</button></a>
    {% else %}
    <a href="{% url 'devolver_libro' pk=libro.pk %}"><button>Devolver libro</button></a>
    {% endif %}
    <br><br>
    <a href="{% url 'lista_libros' %}"><button>Volver a la lista</button></a>

</body>
</html>