<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista libros</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <main>
        <h1>Lista de libros</h1>
        <section>
            <h2>Filtra entre los libros</h2>
            <form method="GET">
                <select name="autor">
                    <option value="">Todos los autores</option>
                    {% for autor in autores %}
                        <option value="{{ autor.nombre }}" {% if autor.nombre == autor_seleccionado %} selected {% endif %}>
                            {{ autor.nombre }}
                        </option>
                    {% endfor %}
                </select>
                <select name="editorial">
                    <option value="">Todas las editoriales</option>
                    {% for editorial in editoriales %}
                    <option value="{{ editorial.nombre }}" {% if editorial.nombre == editorial_seleccionada %} selected {% endif %}>
                        {{ editorial.nombre }}
                    </option>
                    {% endfor %}
                </select>
                <input type="submit" value="Filtrar">
            </form>
        </section>
        <section>
            <a href="{% url 'nuevo_libro' %}"><button>Añadir libro nuevo</button></a>
        </section>
        <article>
            <h2>Libros disponibles</h2>
            {% for libro in libros_disponibles %}
                <b>Titulo</b>: {{ libro.titulo }}.
                <br><br>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}" alt="" style="width: 300px;">
                {% endif %}
                <br><br>
                <b>Autores</b>:
                {% for autor in libro.autores.all %}
                    {{ autor.nombre }}{% if not forloop.last %},{% else %}.{% endif %}
                {% endfor %}
                <br>
                <b>Editorial: </b> {{ libro.editorial.nombre }}
                <br><br>
                <a href="{% url 'detalle_libro' pk=libro.pk %}"><button>Ver libro</button></a>
            {% empty %}
                No hay libros disponibles.
            {% endfor %}
        </article>
        <article>
            <h2>Libros prestados</h2>
            {% for libro in libros_prestados %}
                <b>Titulo</b>: {{ libro.titulo }}.
                <br><br>
                {% if libro.portada %}
                    <img src="{{ libro.portada.url }}" alt="" style="width: 300px;">
                {% endif %}
                <br><br>
                <a href="{% url 'detalle_libro' pk=libro.pk %}"><button>Ver libro</button></a>
                <br><br>
            {% empty %}
                No hay libros prestados.
            {% endfor %}
        </article>
    </main>
</body>
</html>