<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista libros</title>
</head>
<body>
    <a href="{% url 'nuevo_libro' %}"><button>Añadir libro nuevo</button></a>
    <br>
    <br>
    {% for libro in libro_list %}
        <li><b>Titulo</b>: {{ libro.titulo }}.</li>
        <a href="{% url 'detalle_libro' pk=libro.pk %}"><button>Ver libro</button></a>
    {% empty %}
        <li>Aún no hay libros.</li>
    {% endfor %}
</body>
</html>