<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista libros</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.classless.min.css">
</head>
<body>
    <article>
        <h1>Lista de libros</h1>
    <form method="GET">
        <select name="autor">
            <option value="">Todos los autores</option>
            {% for autor in autores %}
                <option value="{{ autor.nombre }}" {% if autor.nombre == autor_seleccionado %} selected {% endif %}>
                    {{ autor.nombre }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Filtrar">
    </form>
    <br><hr><br>
    <a href="{% url 'nuevo_libro' %}"><button>Añadir libro nuevo</button></a>
    <br>
    <hr>
    <br>
    <h2>Libros disponibles</h2>
    {% for libro in libros_disponibles %}
        <b>Titulo</b>: {{ libro.titulo }}.
        <br><br>
        <b>Autores</b>:
        {% for autor in libro.autores.all %}
            {{ autor.nombre }}{% if not forloop.last %},{% else %}.{% endif %}
        {% endfor %}
        <a href="{% url 'detalle_libro' pk=libro.pk %}"><button>Ver libro</button></a>
        <br><br>
        <hr>
    {% empty %}
        No hay libros disponibles.
    {% endfor %}
    <h2>Libros prestados</h2>
    {% for libro in libros_prestados %}
        <b>Titulo</b>: {{ libro.titulo }}.
        <br><br>
        <a href="{% url 'detalle_libro' pk=libro.pk %}"><button>Ver libro</button></a>
        <br><br>
    {% empty %}
        No hay libros prestados.
    {% endfor %}
    </article>
</body>
</html>